html {
    scroll-behavior: smooth;
    color-scheme: light dark;
}
/* General Styles */
body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0;
    padding-top: 30px;
}

/* Navigation Menu Styling */
#navbar {
    display: flex;
    justify-content: flex-end; /* Align navigation to the right */
    gap: 20px; /* Add spacing between links */
    margin-right: 20px; /* Space from the right edge */
    list-style: none;
}

#navbar a {
    text-decoration: none;
    padding: 10px 15px; /* Add padding around links */
    transition: background-color 0.3s, color 0.3s; /* Smooth hover effects */
}

#navbar a:hover {
    color: #7acfee; /* Accent color on hover */
    border-radius: 5px;
}

#navbar a.current {
    font-weight: bold;
    color: #7acfee; /* Highlight the current page link */
}

/* Sections */
main {
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 15px 0;
}

ul li a {
    font-size: 20px;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    font-size: 12px;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    visibility: hidden;
}
